<launch>
    <!-- Launch horizontal_roi node -->
    <node name="horizontal_roi" pkg="cavity_detection" type="horizontal_roi_callback.py" output="screen">
        <!-- <param name="param_name" value="param_value" /> -->
    </node>

    <!-- Launch cavity_map node -->
    <node name="cavity_map" pkg="cavity_detection" type="cavity_map_server.py" output="screen">
        <!-- <param name="param_name" value="param_value" /> -->
    </node>
</launch>