<launch>
    <!-- Launch vertical_roi node -->
    <node name="vertical_detector_node" pkg="cavity_detection" type="vertical_roi" output="screen">
        <!-- <param name="param_name" value="param_value" /> -->
    </node>

    <!-- Launch horizontal_roi node -->
    <node name="horizontal_detector_node" pkg="cavity_detection" type="horizontal_roi_2.py" output="screen">
        <!-- <param name="param_name" value="param_value" /> -->
    </node>
</launch>